{% extends "base.html" %}
{% block content %}
    <div class="pure-menu pure-menu-horizontal"id="manager-menu">

    <ul class="pure-menu-list"id="manager-menu">
        <li class="pure-menu-item"><a href="{{ url_for('readersearch') }}" class="pure-menu-link">违章记录查询</a> </li>
         <li class="pure-menu-item"><a href="{{ url_for('booksearch') }}" class="pure-menu-link">区域查询</a> </li>

        <li class="pure-menu-item"><a href="{{ url_for('addbook') }}" class="pure-menu-link">增添区域</a></li>
        <li class="pure-menu-item"><a href="{{ url_for('deletebook') }}" class="pure-menu-link">删除区域</a></li>
        <li class="pure-menu-item"><a href="{{ url_for('bookalterselect') }}" class="pure-menu-link">修改区域</a></li>
        <li class="pure-menu-item"><a href="{{ url_for('addreader') }}" class="pure-menu-link">增添违章记录</a> </li>
        <li class="pure-menu-item"><a href="{{ url_for('deletereader') }}" class="pure-menu-link">删除违章记录</a></li>
        <li class="pure-menu-item"><a href="{{ url_for('readeralterselect') }}" class="pure-menu-link">修改违章记录</a></li>

        <li class="pure-menu-item"><a href="{{ url_for('register')}}" class="pure-menu-link">智能监控地理位置</a></li>
    </ul>
</div>
<table class="pure-table">
<thead>
<tr>
    <th>区域编号</th>
    <th>路口名称</th>
    <th>空间</th>
    <th>--</th>
    <th>--</th>
    <th>维护员</th>
    <th>负责人</th>
    <th>摘要</th>
    <th>经度</th>
    <th>纬度</th>
    <th>监控</th>

</tr>
</thead>
<tbody>
{% for r in readers %}
<tr align="center">
<td><a>{{ r.id }}</a></td>
<td>{{ r.name }}</td>
<td>{{ r.count}}</td>
    <td>{{ r. style_num }}</td>
    <td>{{ r.available_count }}</td>
<td>{{ r.press }}</td>
<td>{{ r.author}}</td>
<td>{{ r.summary}}</td>
<td>{{ r.temperture }}</td>
<td>{{ r.humidity }}</td>
<td ><a href={{ r.url }}>查看</a></td>


</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
