{% extends "base.html" %}
{% block content %}
    <div class="pure-menu pure-menu-horizontal"id="manager-menu">

    <ul class="pure-menu-list"id="manager-menu">
        <li class="pure-menu-item"><a href="{{ url_for('readersearch') }}" class="pure-menu-link">违章人员查询</a> </li>
         <li class="pure-menu-item"><a href="{{ url_for('booksearch') }}" class="pure-menu-link">--查询</a> </li>
         <li class="pure-menu-item"><a href="{{ url_for('groupsearch') }}" class="pure-menu-link">--查询</a></li>
        <li class="pure-menu-item"><a href="{{ url_for('addbook') }}" class="pure-menu-link">增添--</a></li>
        <li class="pure-menu-item"><a href="{{ url_for('deletebook') }}" class="pure-menu-link">删除--</a></li>
        <li class="pure-menu-item"><a href="{{ url_for('bookalterselect') }}" class="pure-menu-link">修改--</a></li>
        <li class="pure-menu-item"><a href="{{ url_for('addreader') }}" class="pure-menu-link">增添--</a> </li>
        <li class="pure-menu-item"><a href="{{ url_for('deletereader') }}" class="pure-menu-link">删除--</a></li>
        <li class="pure-menu-item"><a href="{{ url_for('readeralterselect') }}" class="pure-menu-link">修改--</a></li>
  <li class="pure-menu-item"><a href="{{ url_for('addgroup') }}" class="pure-menu-link">增加--</a></li>
        <li class="pure-menu-item"><a href="{{ url_for('deletegroup') }}" class="pure-menu-link">删除--</a></li>
        <li class="pure-menu-item"><a href="{{ url_for('groupalterselect') }}" class="pure-menu-link">修改--</a></li>
        <li class="pure-menu-item"><a href="" class="pure-menu-link">--</a></li>
        <li class="pure-menu-item"><a href="{{ url_for('register')}}" class="pure-menu-link">--</a></li>

    </ul>
</div>
<table class="pure-table">
<thead>
<tr>
    <th>组号</th>
    <th>所在教室</th>
    <th>组长</th>
    <th>组员2</th>
    <th>组员3</th>
    <th>组员4</th>
    <th>组员5</th>
    <th>组员6</th>

</tr>
</thead>
<tbody>

<tr align="center">
<td>{{ readers.id }}</td>
<td>{{ readers.room }}</td>
<td>{{ readers.id1}}</td>
<td>{{ readers.id2 }}</td>
<td>{{ readers.id3 }}</td>

<td>{{ readers.id4 }}</td>
<td>{{ readers.id5 }}</td>
<td>{{ readers.id6 }}</td>

</tr>

</tbody>

</table>
{% endblock %}