{% extends "base.html" %}
{% block content %}
    <div class="pure-menu pure-menu-horizontal"id="manager-menu">

    <ul class="pure-menu-list" id="manager-menu">
        <li class="pure-menu-item"><a href="{{ url_for('readersearch') }}" class="pure-menu-link">--查询</a> </li>
         <li class="pure-menu-item"><a href="{{ url_for('booksearch') }}" class="pure-menu-link">--查询</a> </li>
        
        <li class="pure-menu-item"><a href="{{ url_for('addbook') }}" class="pure-menu-link">增添--</a></li>
        <li class="pure-menu-item"><a href="{{ url_for('deletebook') }}" class="pure-menu-link">删除</a></li>
        <li class="pure-menu-item"><a href="{{ url_for('bookalterselect') }}" class="pure-menu-link">修改</a></li>
        <li class="pure-menu-item"><a href="{{ url_for('addreader') }}" class="pure-menu-link">增添人员</a> </li>
        <li class="pure-menu-item"><a href="{{ url_for('deletereader') }}" class="pure-menu-link">删除人员</a></li>
        <li class="pure-menu-item"><a href="{{ url_for('readeralterselect') }}" class="pure-menu-link">修改人员</a></li>

        <li class="pure-menu-item"><a href="{{ url_for('register')}}" class="pure-menu-link">实时位置</a></li>
    </ul>
</div>
    <form class="pure-form"method="post"name="删除读者" id="select-form">
    {{ form.csrf_token }}
    {{ form.no(class="pure-input-2-3",placeholder="需删除编号") }}
    <button type="submit" class="pure-button">提交</button>
</form>
{% endblock %}